<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>216330987318-7hchf41o30l3q6367sj72hg9mhg6s9de.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216330987318-7hchf41o30l3q6367sj72hg9mhg6s9de</string>
	<key>API_KEY</key>
	<string>AIzaSyAYsTap0ohIq3yEEuS0z_pvTEqia2CA5EE</string>
	<key>GCM_SENDER_ID</key>
	<string>216330987318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.padcmyanmar.PADC-IOS-FurnitureShop</string>
	<key>PROJECT_ID</key>
	<string>furniture-shop-ios-stc</string>
	<key>STORAGE_BUCKET</key>
	<string>furniture-shop-ios-stc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216330987318:ios:e5b24f27541c7b7c</string>
	<key>DATABASE_URL</key>
	<string>https://furniture-shop-ios-stc.firebaseio.com</string>
</dict>
</plist>